{% extends 'template.html' %}

{% load static %}

{% block css_extra %}

{% endblock %}


{% block content %}
    <div class="home__block">
        <h1 class="home__title">Welcome!</h1>
        {% if user.is_authenticated %}
            <h2 class="home__subtitle">You are authorized, {{ user }}, and you have access for tests!</h2>
            <div class="home__choose">
                <a href="{%url 'all-polls' %}" class="home__link">To Tests!</a>
                <a href="{%url 'logout' %}" class="home__link">Logout</a>
            </div>
        {% else %}
            <h2 class="home__subtitle">Yo need to authorize!</h2>
             <div class="home__choose">
                <a href="{%url 'login' %}" class="home__link">Authorization</a>
                <a href="{%url 'register' %}" class="home__link">Registration</a>
             </div>
        {% endif %}
    </div>
{% endblock %}