{% extends 'template.html' %}

{% load static %}

{% block css_extra %}
    <link rel="stylesheet" href=" {% static 'tests/css/style.css'%}">
{% endblock %}


{% block content %}
    <h1>Мои результаты</h1>
    {% for s in score %}
    <li class="tests__card">
        <h2>
            Right answers:{{s.correct_answers}} Wrong answers:{{s.incorrect_answers}} Score:{{s.score}} - {{s.poll.title}} ({{s.poll.topic}}) Percent of right answers:{{s.percent}}%
        </h2>
    </li>
    {% endfor %}
    {% if score %}

    {% else %}
        <h1>You haven't completed any tests!</h1>
        <a href="{%url 'all-polls' %}" class="tests__link">To Tests!</a>
    {% endif %}
{% endblock %}